.banner{
  background-image: url("../images/backgrounds/landing.jpg");
  background-size: cover;
  color:  white;
  height: 450px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 0px;
}

.col-lg-3{
margin-right: 0px;
margin-left: 0px;
padding: 0px;
}

#happy{
  background-color: #f2f2f2;
  height: 100px;
  padding: 25px;
  color: black;
}

#party{
  background-color: orangered;
  height: 100px;
  padding: 25px;
}

#breakfast{
  background-image: url("../images/foodtop/breakfast.jpg");
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
 }

#happy-party{
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

#lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

#dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

/* .container {
  padding: 20px;
  margin: 0px;
} */

.happy{
  color: black;
  background-color: #cccccc;
}
.party{
  color: white;
}
.container{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.fast-food-images{
   padding:10px;
   box-shadow: 5px 5px 5px 5px #888888;
   margin-right: 0px;
}

#fast-food{
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
}

#drinks{
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
  text-align: right;
}

#ipsum{
  text-align: justify;
}

.drinks-images{
  padding:10px;
   box-shadow: 5px 5px 5px 5px #888888;
   margin-right: 0px;
   border-image: 0px;
}

.meals-holder{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  background-size: cover;
  height: 500px;
  align-content: center;
  margin-top: 80px;
}

#customers{
  height: 200px;
  text-align: center;
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
}
#orange, #orange2{
  color: #F15A29;
}

/* .col-lg-8{
  padding:10px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-right: 0px;
  border-image: 0px;
} */
#happy-customers{
  padding:10px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-right: 0px;
  border-image: 0px;
  height: 190px;
}
.about-menu{
  padding:10px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-right: 0px;
  border-image: 0px;
  height: 190px;
}

#happy-customers img{
  padding-left: 10px;
  padding-right: 10px;
}
hr{
  border: none;
  border-left:    1px red;
  height:         5vh;
  width:          2px; 
  position: relative;     
}

.subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 300px;
  background-size: cover;
  margin-top: 80px;
  padding-top: 80px;
  color: white;
  text-align: center;
 }

.footer{
  height: 250px;
  background-color: #F15A29;
  background-size: cover;
  padding-bottom: 0px;
  text-align: center;
  color: white;
  padding-top: 20px;
}

li{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
  color: black;
  /* text-justify: auto; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
}

#list2{
  background-color: white;
  margin-top: 0px;
}
#list1{
  background-color: #e6e6e6;
  margin-top: 30px;
  margin-bottom: 0px;
  /* width: 80%; */
}
li img{
  width: 250px;
  height: 200px;
  margin-left: 1px;
}

/* Style the navigation menu */
/* .navbar {
  width: 80%;
  background-color: #e6e6e6;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  margin-right: 50px;
  color: black;
} */
/* .navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 20%;
  text-align: center;
}
/* Add a background color on mouse-over */
/* .navbar a:hover {
  background-color: #000;
  color: #F15A29;
}
/* Style the current/active link */
.navbar a.active {
  /* background-color: white; */
} */ */

#myCarousel{
  background-color: white;
}

.footer img{
  width: 60px;
  height: 50px;
}