.banner{
  background-image: url("../images/backgrounds/landing.jpg");
  background-size: cover;
  color:  white;
  height: 450px;
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 0px;
}

.col-lg-3{
margin-right: 0px;
margin-left: 0px;
padding: 0px;
}

#happy{
  background-color: #f2f2f2;
  height: 100px;
  padding: 25px;
}

#party{
  background-color: orangered;
  height: 100px;
  padding: 25px;
}

#breakfast{
  background-image: url("../images/foodtop/breakfast.jpg");
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
 }

#happy-party{
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

#lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

#dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  height: 200px;
  color: white;
  text-align: center;
  padding: 80px;
  font-family: 'Noto Serif TC', serif;
  font-size: 20px;
}

/* .container {
  padding: 20px;
  margin: 0px;
} */

.happy{
  color: black;
  background-color: #cccccc;
}
.party{
  color: white;
}
.container{
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.fast-food-images{
   padding:10px;
   box-shadow: 5px 5px 5px 5px #888888;
   margin-right: 0px;
}

#fast-food{
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
}

#drinks{
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
}

#ipsum{
  text-align: justify;
}

.drinks-images{
  padding:10px;
   box-shadow: 5px 5px 5px 5px #888888;
   margin-right: 0px;
   border-image: 0px;
}

#meals-combined{
  background-image: url("../images/backgrounds/foodsBg.jpg");
  height: 200px;
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
}

#customers{
  height: 200px;
  text-align: center;
  align-content: center;
  margin-left: 150px;
  margin-top: 80px;
}
#orange, #orange2{
  color: #F15A29;
}

/* .col-lg-8{
  padding:10px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-right: 0px;
  border-image: 0px;
} */
.col-lg-5{
  padding:10px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-right: 0px;
  border-image: 0px;
  height: 190px;
}
.col-lg-3{
  padding:10px;
  box-shadow: 5px 5px 5px 5px #888888;
  margin-right: 0px;
  border-image: 0px;
  height: 190px;
}

#happy-customers img{
  padding-left: 10px;
  padding-right: 10px;
}
hr{
  border: none;
  border-left:    1px red;
  height:         5vh;
  width:          2px; 
  position: relative;     
}

.subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 300px;
  background-size: cover;
}

.footer{
  height: 300px;
  background-color: #F15A29;
  background-size: cover;
}

